body {
  font-family: "Lato", sans-serif;
}

h1 {
  color: #fff;
}

.fs-18 {
  font-size: 18px;
}

ul {
  list-style-type: none;
  margin: 0;
}

ul li {
  margin-right: 40px;
  text-align: center;
}

ul li a {
  font-size: 18px;
  color: #fff;
}

ul li a:hover {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.904);
  text-decoration: none;
}

#contenedor__navbar {
  background: #8400ff;
}

#compra__images img {
  width: 30%;
}

#productos img {
  width: 20%;
}

#vender {
  background: linear-gradient(
    45deg,
    rgba(225, 210, 255, 1) 0%,
    rgba(252, 245, 255, 1) 50%,
    rgba(232, 220, 255, 1) 100%
  );
}

.formulario {
  max-width: 700px;
  margin: 0 auto;
}

footer {
  font-size: 12px;
  color: #fff;
  background: #4a008f;
  width: 100%;
  bottom: 0;
}

/*BOTONES*/
.btn-purple {
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  background: #8400ff;
}

.btn-purple:hover {
  color: #fff;
  font-size: 18px;
  background: #6701c5;
}

.btn-outline-purple {
  color: #8400ff;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #8400ff;
}

.btn-outline-purple:hover {
  color: #6701c5;
  font-size: 18px;
  border: 2px solid #6701c5;
}

.btn-link {
  color: #000;
  font-size: 18px;
  font-weight: 600;
}

.btn-link:hover {
  color: #212529;
  font-size: 18px;
  font-weight: 600;
}

/*CLASES*/
.mt-100 {
  margin-top: 100px;
}
